<a href="/logout"> Logout </a>

<form method="post" action="saveProduct">
	Product name: <input type="text" name="productName">

	<br>

	Product price: <input type="number" name="productPrice">

	<br>

	Product quantity: <input type="number" name="productQuantity">

	<br>

	<input type="submit" value = "Save product">

</form>