<form method="post" action="/newMessage">

	<h1> Sender: </h1> <input type="text" name="sender">
	<br>
	<h1> Subject: </h1> <input type="text" name="subject">
	<br>
	<h1> Message: </h1> <input type="text" name="text">
	<br>

	<input type="submit" value="Send">

</form>